[user]
	name = kayo_tozaki
	email = nec_git@naccent.dip.jp
[http]
#        proxy = cache.ccs.kogakuin.ac.jp:8080
[https]
#        proxy = cache.ccs.kogakuin.ac.jp:8080
[core]
	excludesfile = ~/.gitignore
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[alias]
    tree = log --graph --pretty='format:%C(yellow)%h%Creset %s %Cgreen(%an)%Creset %Cred%d%Creset'
